{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Currencies</title>
</head>

<body>
<img src='{% static "app1/logo.png" %}' alt="image" width="400px">
<h1>Currencies</h1>
<table>
    <tr>
        <th>ISO Symbol</th>
        <th>Long Name</th>
    </tr>
    {% for c in currencies %}
        <tr>
            <td>{{ c.iso }}</td>
            <td>{{ c.long_name }}</td>
        </tr>
    {% endfor %}
</table>
</body>
</html>